/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

#tableProduit{
  margin-left: 15%;
  margin-right: 15%;
}

#spinner{
  margin: 5px;
  width: 15%;
}

.inputSpinner{
  width: 50%;
}
