
#menu{
  height:150px;
  background-image: url("../../assets/img/6.jpg");
  background-color: white;
  background-size: 150px, 150px;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-position: top left;
  padding-bottom: auto;

}

#buttonPos{
  margin-left: 180px;
}

