<div id="tableProduit">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="Nom">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td mat-cell *matCellDef="let produit"> {{produit.nomProduit}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell class="description" *matHeaderCellDef> Description</th>
      <td mat-cell class="description" *matCellDef="let produit"> {{produit.descriptifProduit}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Prix">
      <th mat-header-cell *matHeaderCellDef> Prix</th>
      <td mat-cell *matCellDef="let produit"> {{produit.prix}} € </td>
    </ng-container>

    <ng-container matColumnDef="Image">
      <th mat-header-cell *matHeaderCellDef> Image</th>
      <td mat-cell  *matCellDef="let produit"> <img src="{{produit.image}}" height="200px" width="200px"/> </td>
    </ng-container>

    <ng-container matColumnDef="Quantité" >
      <th mat-header-cell *matHeaderCellDef width="10%"> Quantité</th>
      <td mat-cell *matCellDef="let produit">
        <input #quantity type="number" id="quantity" class="inputSpinner" step="1" min="1" max=""
               name="quantity" value="1" size="1" pattern="[0-9]*" inputmode="numeric" width="5px" >
       <button mat-raised-button (click)="ajoutPanier(produit,quantity)" *ngIf="client">Ajout</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button (click)="delete()" >delete</button>
</div>


