@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*body{
  color: whitesmoke;
  background-image: url("/assets/stade-fumi.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
#corps {
  width: 800px;
  height: 600px;
  background-color: black;
}
*/



* {
  background-image: url("/assets/img/5.jpg");
  background-color: white;
  background-size: 25%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom right;
}

